.container {
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.18);
}

.contact_container {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 32px;
  gap: 16px;
  flex-wrap: wrap;
}

.contact_link {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
}

.icon {
  font-size: 14pt;
}

.navigation_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 16px;
  flex-wrap: wrap;
  font-size: 10pt;
  position: relative;
}

.nav_link_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.nav_link,
.nav_link_dropdown {
  text-decoration: none;
  color: gray;
}

.services_dropdown,
.broadband_plans_dropdown,
.support_dropdown {
  display: inline-block;
  position: relative;
}

.dropdown_content {
  display: none;
  flex-direction: column;
  padding: 16px;
  justify-content: center;
  gap: 16px;
  border-radius: 8px;
  min-width: 168px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.services_dropdown:hover .nav_link,
.broadband_plans_dropdown:hover .nav_link,
.support_dropdown:hover .nav_link {
  color: #fff;
}

.services_dropdown:hover .nav_link_dropdown,
.broadband_plans_dropdown:hover .nav_link_dropdown,
.support_dropdown:hover .nav_link_dropdown {
  color: #000;
}

.services_dropdown:hover .dropdown_content,
.broadband_plans_dropdown:hover .dropdown_content,
.support_dropdown:hover .dropdown_content {
  display: flex;
}

/* SEARCH STYLES */

.search_container_open {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  background-color: #f7f7f7;
  animation: slideOpenMenuAnimation 1s ease-in-out forwards;
}

.search_container_close {
  display: flex;
  position: absolute;
  top: -1000%;
  left: 0px;
  right: 0px;
  height: 100%;
  transition: ease-in-out 1s;
  animation: slideCloseMenuAnimation 1s ease-in-out backwards;
}

.search_form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
}

.search_input {
  flex: 16;
  height: 100%;
  font-size: 16pt;
  outline: none;
  border: none;
  padding: 8px 32px;
  border-radius: 8px;
}

.close_icon_container {
  flex: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  padding: 4px;
  border-radius: 8px;
}

.close_icon {
  font-size: 32px;
  cursor: pointer;
}

.menu_icon_container {
  display: none;
}

.open_menu {
  display: none;
}

.close_menu {
  display: none;
}

/* MOBILE VIEW DROPDOWN */

.mobile_service_dropdown,
.mobile_broadband_dropdown,
.mobile_support_dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted gray;
}

.down_icon {
  color: gray;
  cursor: pointer;
  font-size: 16pt;
}

.nav_link_special {
  text-decoration: none;
  padding: 16px 0px;
  color: gray;
}

.mobile_dropdown_content {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.mobile_dropdown_content .nav_link:hover,
.nav_link_special:hover,
.down_icon:hover {
  color: #fff;
}

@media only screen and (max-width: 1046px) {
  .navigation_container {
    justify-content: space-between;
  }

  .nav_link_container {
    display: none;
  }

  .menu_icon_container {
    display: flex;
    cursor: pointer;
    font-size: 14pt;
  }

  .open_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 8px 32px;
    background-color: #252525;
    z-index: 10;
    animation: slideOpenMenuAnimation 1s ease-in-out forwards;
  }

  .close_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -1000%;
    right: 0;
    left: 0;
    padding: 8px 32px;
    background-color: #252525;
    transition: ease-in-out 1s;
    width: 100%;
    z-index: 10;
    animation: slideCloseMenuAnimation 1s ease-in-out backwards;
  }

  .nav_link {
    padding: 16px 0px;
    border-bottom: 1px dotted gray;
  }
}

@keyframes slideOpenMenuAnimation {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideCloseMenuAnimation {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
