.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.left_click,
.right_click {
  position: absolute;
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14pt;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px 8px;
  border-radius: 4px;
}

.left_click {
  left: 16px;
}

.right_click {
  right: 16px;
}

.image {
  width: 100%;
  max-height: 500px;
  height: auto;
  object-fit: fill;
}

.dot_container {
  position: absolute;
  bottom: 0;

  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: lightblue;
  border-radius: 50%;
  margin: 0 10px;
}

.dot:hover {
  cursor: pointer;
  background-color: rgb(76, 171, 202);
}

.activeDot {
  width: 15px;
  height: 15px;
  background-color: rgb(76, 171, 202);
  border-radius: 50%;
  margin: 0 10px;
}

.activeDot:hover {
  cursor: pointer;
}
